.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: 5px dashed #696969;
    background: transparent;
    border-radius: 50%;
    animation: rotate 2s infinite alternate ;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }to{
         transform: rotate(360deg) scale(1.5);
     }
}

.list{
    width: 100%;
    border-radius: 20px;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list__container{
    font-weight: 600;
    font-size: 24px;
    background: transparent;
}

.list__item{
    margin: 5px 0;
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    transition: color .5s;
}

.list__item:hover{
    color: #6d05ec;
}