*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/background-pokemon.jpg");
}

.wrapper{
  max-width: 1440px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: #ffffff;
}

.pokemon{
  margin-top: 50px;
  width: 500px;
  border-radius: 20px;
  background: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon > p {
  margin-bottom: 30px;
}

